################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Sport_progect/FileContentIndex/361707e5-7db9-4cb3-9497-19c3b5c4eb38.vsidx
/.vs/Sport_progect/FileContentIndex/75d7e0c3-dbc1-47a9-a357-9c8deca9ab40.vsidx
/.vs/Sport_progect/FileContentIndex/8bd3a2b5-b023-41f1-a2e0-0b9b138bf601.vsidx
/.vs/Sport_progect/FileContentIndex/b358f501-b1cf-45a1-9c07-229fec789769.vsidx
/.vs/Sport_progect/FileContentIndex/cc934323-7473-41ae-b41c-5b3f51495a0b.vsidx
/.vs/Sport_progect/FileContentIndex/f82352f9-6175-4bed-84e3-df9c1c66f2da.vsidx
